<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlyFriends</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlyFriends.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="custom-navbar">
            <div class="nav-left">
                <a href="/Home/Homepage" class="brand">OnlyFriends</a>
                <a href="/Home/Homepage" class="nav-link">Home</a>
                <a href="/Home/CreateActivity" class="nav-link">Create Activity</a>
            </div>

            <div class="nav-right">
                
                <div class="dropdown" id="filterDropdown">
                    <button class="nav-btn" onclick="toggleFilter()">
                        กรองเนื้อหา
                    </button>
                    <div class="dropdown-content" id="filterMenu">
                        <div class="filter-item">
                            <input type="checkbox" id="catSports"> <label for="catSports">เกมส์</label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="catEdu"> <label for="catEdu">ท่องเที่ยว</label>
                        </div>
                        <hr>
                        <div class="filter-item">
                            <input type="checkbox" id="statusOpen" checked> <label for="statusOpen">กิจกรรมที่เปิดรับสมัคร</label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="myJoinedEvents"> 
                            <label for="myJoinedEvents">กิจกรรมที่เข้าร่วม</label>
                        </div>
                        <button class="btn-apply" onclick="applyFilter()">นำไปใช้</button>
                    </div>
                </div>

                <div class="dropdown" id="profileDropdown">
                    <button class="profile-btn" onclick="toggleProfile()">
                        <img src="https://media.nationthailand.com/uploads/images/md/2021/04/NSqRmPs4AruiQ5nqajGR.jpg" alt="Profile">
                    </button>
                    <div class="dropdown-content profile-menu" id="profileMenu">
                        <a href="#">โปรไฟล์ของฉัน</a>
                        <a href="#">กิจกรรมที่เข้าร่วม</a>
                        <hr>
                        <a href="#" style="color: red;">ออกจากระบบ</a>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2569 - OnlyFriends - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>