Mini Project  
เ ว ็บบ อร ์ ดส  ำ หร ั บป ระก ำ ศห ำ ส มำ ชิก ส  ำ หร ั บเข ้ ำ ร ่ ว มก ิจ กรรม เช ่น ห ำ เ พื ่ อนร ่ ว มทีมฟ ุ ตบอล  ห ำ ที ม กิน บ ุ ฟเฟต ์  ห ำ เ พื ่ อนท ี ่ ส ะ ดว ก
ร ั บฝ ำ กซ ื ้ อขอ ง   
Requirements  
1. โ พส ต ์ ปร ะกำ ศ หำสม ำ ชิ กท  ำ กิจ ก รร ม ไ ด ้ 
2. ส ม ั ครเ ข ้ ำ ร ่ ว ม กิจ กรรม ไ ด ้  ( เ ช่น โ พส ต ์ ตอบร ั บ หร ือ มีป ุ ่ ม ส ม ั ครเ ข ้ ำ ร ่ ว ม หร ือ ฯล ฯ)  
3. แต่ละป ระกำ ศสำม ำ รถระบ ุ จ  ำ นว นเพื ่ อนท ี ่ ร ั บเข ้ ำ ร ่ ว มก ิ จก รร มได ้  
4. ระบ บอำจ เ ป ิ ดร ั บ จ  ำ น ว น ผ ู ้ ส ม ั คร เ ข ้ ำ ร ่ ว ม กิจ กรรม ส ั มพ ั นธ ์ ก ั บ จ  ำ น ว นในข ้ อ 3.  หร ือ ร ั บผ ู ้ ส ม ั ครฯจ  ำ น ว นมำ ก กว ่ ำ ใ นข ้ อ 3.  
แต่จ ะต ้ อ ง มี ว ิธ ี ค ั ดค นจ ำ กโพ ส ต ์ ต อบร ั บ ใ ห ้ เ ท่ำ ก ั บจ  ำ น ว น ใ น 3. ( ใ ห ้ กล ุ ่ม คิด ออ กแบบวิธ ีกำ รเอ ง ไ ด ้  แ ล ้ ว น  ำ เ ส นอวิ ธ ี กำ ร ที ่
คิด ไ ว ้ ตอน ท้ ำ ยค ำ บ  ว ั นท ี ่  3/4 กพ  หำก ไ ม่ท ั นจะน ั ด เ พิ่ม ใ นคำ บ แล ็บว ั นท ี ่  5 กพ ) 
5. ก  ำ หน ด เ ว ล ำ ห มด อ ำ ย ุ ขอ ง ปร ะกำ ศได ้  
6. เ จ ้ ำ ของโพส ต ์ ปร ะก ำ ศ  ส ำ ม ำ รถป ิ ดร ั บ กำ รตอบร ั บ ใ นโ พส ต ์ ไ ด ้  เ ช่น อำจ หำส มำ ชิ กได ้ ครบแล ้ ว จำกก ำ รชว นก ั นน อก เ ว ็บ  
จึง ต ้ อ ง ก ำ รป ิ ดร ั บส ม ั ครบน เ ว ็บ เ ป ็ นต ้ น  
7. เ มื ่ อจบ กำ รร ั บส ม ั คร แจ ้ ง ว ่ ำ ผ ู ้ ใด ไ ด ้ ร ั บเลือก ใ ห ้ เ ข ้ ำ ร ่ ว มก ิ จก รร มได ้  
8. ใ ห ้  น ศ แต่ละกล ุ ่ม เ พิ่มเ ติม  feature(s) นอ กเ หน ือ จำ ก ข ้ อ 1-7  อย่ ำ ง น ้ อย 1  feature โ ดย  feature(s) แล ะ ล ู กเ ล ่น
อื่นๆ ที ่ เ พิ่มเ ติ ม เ ข ้ ำ ม ำ น ั้ น จะ เ ป ็ น หน ึ่ง ใ นห ั ว ข ้ อกำ ร ใ ห ้ คะแนน ที ่ ปร ะ เ มินผ ล ง ำ นโ ด ยเ พื ่ อนแล ะอำ จำ ร ย ์  
 
ข ้ อก  ำ หน ด  
1. ใ ห ้ เ ขียน  Frontend (HTML/CSS/JS) เ อง 
2. ไ ม่ใ ห ้ ใ ช ้  framework หร ือ  Lib ใ ดๆ ยก เ ว ้ น ใ ห ้ เ ฉ พ ำ ะ ก ำ รใช ้  icons จำก framework  หร ือ Lib เ ท่ ำ น ั้ น  
3. ฝ ั ่ ง  Backend ใ ห ้ ใ ช ้  ASP .Net MVC โ ดย ต ้ อง เ ขียนท ั้ ง  M, V (cshtml) แล ะ C (cs)  
a. ใน กรณ ี ที ่ มีก ำ รเ ชื ่ อมต่อ ก ั บ DB ส ำ มำ ร ถใช ้  framework ( เ ช่น entity framework)  หร ือ Lib ใ นส ่ ว นของ
กำ รเ ชื ่ อมต่อ ก ั บ  DB ไ ด ้   
b. ส ำ มำ รถ ใ ช ้  ASP .Net Identity เ พื ่ อท  ำ  Authentication/Session ไ ด ้ 
c. ส ำ มำ รถ ใ ช ้  Service ภ ำ ยนอก ( เ ช่น firebase)  เ พื ่ อท  ำ  Authentication/Session ร ว มถ ึ ง เ ป ็ น  DB ไ ด ้ 
4. ใ ช ้  Ajax อ ย่ำ ง น ้ อย 1 ท ี ่   
5. ออกแบบ  Frontend ใ ห ้ รองร ั บ อ ย่ำ ง น ้ อ ย  2 viewports (portrait, landscape )  
6. กำ รเ ก็บข ้ อม ู ล  ส ำ ม ำ รถใ ช ้ ว ิธ ี ที ่  น ศ เห็นว่ำง่ำ ยและส ะด ว ก ( อ ำ จ ใ ช ้  DB ช่ ว ย ใ นส ่ว นน ี ้ ไ ด ้ )  
 